body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333333bb;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #ffd700;
}
.modal-body, h5 {
    color: #000;
}